@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/*
font-family: 'Inconsolata', monospace;
font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif;
*/
:root{
    --positive-color: rgb(0, 100, 0);
    --negative-color:rgb(194, 0, 0);

    --transparent:transparent;
    --white: #fff;
    --lightergrey: #eee;
    --lightgrey: #ddd;
    --grey: #ccc;
    --darkgrey: #555;
    --darkergrey: #333;
    --black: #000;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    flex-shrink: 0;
    color:inherit;
}
body{
    background-color: var(--lightergrey);
}

/* ====================================== */

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--white);
    box-shadow: 0 0 0.3em var(--grey);
    margin-bottom: 20px;
}
nav, header>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header h1{
    font-size: 25px;
    margin: 0 10px 0 0;
    text-align: center;
    white-space:nowrap;
}
.nav-divider{
    height: 20px;
    width: 1px;
    background-color: var(--black);
}

#actions{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 90px;
}
h2{
    text-align: center;
    font-size: 25px;
    color: var(--darkgrey)
}

#table-hidder{
    overflow-x: scroll;
    width: 90%;
    margin: 20px auto;
}
.delete-button, .edit-button{
    outline: none;
    border: none;
    color: var(--negative-color);
    font-weight: bold;
}
.edit-button{
    color: var(--positive-color);
}

#post-div, #update-div{
    position: fixed;
    top: 200px;
    left: 50%;
    width: 330px;
    transform: translate(-50%);
    background-color: var(--white);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 0.3em var(--grey);
    max-height: 400px;
    overflow-y: scroll;
}

@media screen and (max-width: 750px){
    header{
        height: 180px;
        align-items: flex-start;
        justify-content: end;
        position: relative;
    }
    header>div{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: 80px;
        flex-direction: column;
    }
    header h1{
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: bold;
    }
}
